<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a month">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker startView="multi-year" [startAt]="startDate"></mat-datepicker>
</mat-form-field>


<div class="m-lg-5 mt-5">
 <p-card>
  <p-table
      [value]="pedidosListar"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 25, 50]"
  >
      <ng-template pTemplate="header">
          <tr>
              <th>ID</th>
              <th>Vendedor</th>
              <th>Nombre Cliente</th>
              <th>Numero Pedido</th>
              <th>Fecha Pedido</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pedido>
          <tr>
              <td>{{ pedido._id}}</td>
              <td>{{pedido.usuario[0].nombre_usuario}}</td>
              <td>{{pedido.cliente[0].nombre_cliente}}</td>
              <td>{{ pedido.numero_pedido}}</td>
              <td>{{ pedido.fecha | date: 'dd/MM/yyyy'}}</td> <!--pipe-->
          </tr>

      </ng-template>

      <ng-template pTemplate="paginatorleft">
          <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
          <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>
  </p-table>
</p-card>
</div>

