<div class="filtro mt-2">
  <mat-form-field>
    <mat-label>Year</mat-label>
    <input matInput [matDatepicker]="dp" [formControl]="date" (click)="dp.open()">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp
                    (yearSelected)="setMonthAndYear($event, dp)" 
                    startView="multi-year"
                    [startAt]="startData"
                    panelClass="year-picker">
      <mat-multi-year-view>
        <ng-template matMultiYearViewYear="{date}" let-year>
          {{ year | date:'yyyy' }}
        </ng-template>
      </mat-multi-year-view>
    </mat-datepicker>
  </mat-form-field>
</div>

<div class="container mt-1">
  <div class="row">
    <div class="col-md-12">
        <canvas style="height: 500px; width: 100%;" baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                Type="line">
        </canvas>
      </div>
    </div>
  </div>