<div class="centrar separar">
  <p-card header="Ingresar Cliente">
      <form (ngSubmit)="guardar()">
          <div class="card flex justify-content-center separar">
              <span class="p-float-label">
                  <input  pattern="[0-9]{8}-[0-9kK]{1}" placeholder="10111000-1" pInputText id="rut" [(ngModel)]="rut" [ngModelOptions]="{standalone: true}"required />
                  <label htmlFor="rut">RUT</label>
              </span>
          </div>
          <div class="card flex justify-content-center separar">
              <span class="p-float-label">
                  <input pInputText id="nombre_cliente" [(ngModel)]="nombre_cliente" [ngModelOptions]="{standalone: true}"required/>
                  <label htmlFor="nombre_cliente">Nombre del cliente</label>
              </span>
          </div>
          <div class="card flex justify-content-center separar">
              <span class="p-float-label">
                  <input pattern="^\+\d{11}$"  placeholder="+56911111111" pInputText id="contacto" [(ngModel)]="contacto" [ngModelOptions]="{standalone: true}"required/>
                  <label htmlFor="contacto">Teléfono</label>
              </span>
          </div>
          <div class="card flex justify-content-center separar">
            <span class="p-float-label">
                <input pInputText id="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"required/>
                <label htmlFor="email">Email</label>
            </span>
        </div>
        <div class="card flex justify-content-center separar">
          <span class="p-float-label">
              <input pInputText id="direccion" [(ngModel)]="direccion" [ngModelOptions]="{standalone: true}"required/>
              <label htmlFor="direccion">Dirección</label>
          </span>
         </div>
          <div class="dropdown">
              <div class="div-comuna div-element">
                  <label for="comuna">Comuna:</label>
              </div>
              <p-dropdown [style]="{'width': '100%'}" id="unidad" [options]="comunas" [(ngModel)]="selectedComuna" optionLabel="comuna" [ngModelOptions]="{standalone: true}" ></p-dropdown>
          </div>
          <div  class="separar">
              <p-button type="submit" label="Guardar"></p-button>
          </div>
      </form>
  </p-card>
</div>
