<div class="container">
  <div class="row">
    <!-- Columna del formulario -->
    <div class="col-md-4 mt-2">
      <p-card>
        <form (submit)="productoInsert()">
          <div class="row">
            <div class="col-12">
              <div>
                <label for="cliente">Cliente:</label>
              </div>
              <div class="m-lg-2">
                <p-dropdown
                  class=" row w-100"
                  id="cliente"
                  placeholder="Seleccione"
                  (onChange)="cargarCliente()"
                  [options]="clientesListar"
                  [(ngModel)]="clienteSelect"
                  optionLabel="nombre_cliente"
                  [ngModelOptions]="{ standalone: true }"
                ></p-dropdown>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mt-3">
              <div>
                <label for="modo_pago">Modo de Pago:</label>
              </div>
              <div class="m-lg-2">
                <p-dropdown
                  class=" row w-100"
                  id="cliente"
                  placeholder="Seleccione"
                  (onChange)="cargarCliente()"
                  [options]="modo_pagos"
                  [(ngModel)]="selectedMedioPago"
                  optionLabel="modo_pago"
                  [ngModelOptions]="{ standalone: true }"
                ></p-dropdown>
              </div>
            </div>
          </div>

          <div class="row" style="margin-left: -23px;">
            <div class="col-12 mt-3">
              <div style="margin-left: 10px;">
              <label for="codigo_barra">Código de Barra:</label>
             </div>
             <div class="m-lg-2">
              <span class="p-float-label">
                <input
                  class=" row w-100 form-control"
                  pattern="[0-9]+"
                  pInputText
                  id="producto"
                  [(ngModel)]="codigo_barra"
                  autofocus
                  [ngModelOptions]="{ standalone: true }"
                />
              </span>
            </div>
          </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <div>
                <!--
                <label class="mb-2" for="cantidad_producto"> Cantidad Producto:</label>
                -->
              </div>
              <p-inputNumber
                class="w-100"
                [showButtons]="true"
                hidden="true"
                inputId="stacked"
                [(ngModel)]="cantidad_producto"
                [readonly]="true"
                [ngModelOptions]="{ standalone: true }"
              ></p-inputNumber>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12 text-center">
              <button class="btn btn-primary btn-block" type="submit">
                Agregar Producto
              </button>
            </div>
          </div>
        </form>
      </p-card>
    </div>

    <!-- Columna de la tabla -->
    <div class="col-md-8 mt-2">
      <p-card class="w-100">
        <p-table
          [value]="listaTabla"
          [scrollable]="true"
          scrollHeight="450px"
          [tableStyle]="{ 'min-width': '50rem', 'max-width': '100%' }"
          ><ng-template pTemplate="header">
            <tr class="row">
              <th class="col">Nombre Producto</th>
              <th class="col">Precio Unitario</th>
              <th class="col">Cantidad</th>
              <th class="col">Unidad</th>
              <th class="col">Sub Total</th>
              <!--<th class="col">Acción</th> </td>-->
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-producto>
            <tr class="row">
              <td class="col">{{ producto.nombre_producto }}</td>
              <td class="col">${{ producto.precio_unitario }}</td>
              <td class="col">{{ producto.cantidad }}</td>
              <td class="col">{{ producto.unidad }}</td>
              <td class="col">${{ producto.subtotal }}</td>
               <!-- <td class="col">
                <button class="btn btn-danger" (click)="removeProduct(producto)">Eliminar</button>
              </td>-->
              </tr>
          </ng-template>
          <!-- Contenido de la tabla -->
        </p-table>
        <div class="d-flex justify-content-end mt-5 container" style="color: black">
          <h1 style="font-size: 25px">Total: ${{ total }}</h1>
        </div>
        <div class="container text-center mt-3">
          <p-button
            (onClick)="showDialog()"
            label="Realizar Pedido"
            [disabled]="false"
          >
          </p-button>
          <p-dialog
            header="Confirmar documento de compra"
            [(visible)]="visible"
            [modal]="true"
            [style]="{ width: '50vw' }"
            [draggable]="false"
            [resizable]="false"
          >
            <p-button
              styleClass="p-button-success"
              (onClick)="emitirBoleta()"
              label="Boleta"
              [disabled]="false"
            ></p-button>
            &nbsp;
            <p-button
              styleClass="p-button-warning"
              (onClick)="emitirFactura()"
              label="Factura"
              [disabled]="false"
            ></p-button>
          </p-dialog>
        </div>
      </p-card>
    </div>
  </div>
</div>
