<div class="card container mt-5 m-lg-5">
  <p-table
      [value]="pedidosListar"
      [paginator]="true"
      [rows]="8"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Mostrando del {first} al {last} de los {totalRecords} pedidos"
  >
      <ng-template pTemplate="header">
          <tr>
              <th>ID</th>
              <th>Vendedor</th>
              <th>Nombre Cliente</th>
              <th>Numero Pedido</th>
              <th>Fecha Pedido</th>
              <th>Estado</th>
              <th>Acciones</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pedido>
          <tr>
              <td>{{ pedido._id}}</td>
              <td>{{pedido.usuario[0].nombre_usuario}}</td>
              <td>{{pedido.cliente[0].nombre_cliente}}</td>
              <td>{{ pedido.numero_pedido}}</td>
              <td>{{ pedido.fecha | date: 'dd/MM/yyyy'}}</td> <!--pipe-->
              <td>{{ pedido.estado }}</td>
              <td>
                <p-button icon="pi pi-arrow-right-arrow-left" (click)="showDialog(pedido._id)" styleClass="p-button-rounded p-button-warning p-button-text p-button-raised"></p-button>
                <p-dialog  header="Actualizar estado del pedido" [(visible)]="visible" [modal]="true" [style]="{ width: '25vw', height:'25vw' }" [draggable]="false" [resizable]="false">

                  <div class="text-center w-100 h-100">
                  <p-dropdown placeholder="Seleccione estado del pedido" [options]="estados" [(ngModel)] ="estadoSelect" optionLabel="estado"></p-dropdown>
                  </div>
                  <ng-template pTemplate="footer">
                    <p-button type="submit" icon="pi pi-check" (click)="actualizarEstadoPedido()" label="Ok" styleClass="p-button-text"></p-button>
                  </ng-template>

                </p-dialog>
                <p-button [routerLink]= "['/pedidos/detalle/', pedido._id]" icon="pi pi-eye" styleClass="p-button-rounded p-button-secondary p-button-text p-button-raised " class="button"></p-button>
                <p-button (onClick)="eliminar(pedido._id)" icon="pi pi-trash" styleClass="p-button-rounded p-button-danger p-button-text p-button-raised"  class="button"></p-button>

              </td>


          </tr>

      </ng-template>

      <ng-template pTemplate="paginatorleft">
          <p-button type="button" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
          <p-button type="button" styleClass="p-button-text"></p-button>
      </ng-template>
  </p-table>
</div>


