<!--
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
    <script
      src="https://kit.fontawesome.com/66aa7c98b3.js"
      crossorigin="anonymous"
    ></script>

  </head>
  <body>

    <div class="container">
      <form class="form-1" (submit)="login()">
        <h1>Iniciar Sesión</h1>
        <label for="correo">Email</label>
        <input  type="Email" placeholder="example@gmail.com" name="correo"  [(ngModel)]="correo" required />
        <label  for="contrasenia">Contraseña</label>
        <input  type="password" name="contrasenia" [(ngModel)]="contrasenia" required />
        <button type="submit">Ingresar</button>

      </form>
    </div>
  </body>
</html>
-->

<h1 class="h1-tittle">Biopal</h1>

<mat-card-content class="background">
  <mat-card class="mat-elevation-z100 card">
    <form class="example-form" (submit)="login()">
      <h1>Login</h1>
      <div>
        <mat-form-field class="example-full-width">
          <input type="email" matInput placeholder="example@gmail.com" name="email" [(ngModel)]="correo" required>
          <mat-label>Correo electrónico</mat-label>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Contraseña" name="password" [(ngModel)]="contrasenia" required>
          <mat-label>Contraseña</mat-label>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit">Enviar</button>
    </form>
  </mat-card>
</mat-card-content>

