
.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: radial-gradient(ellipse farthest-corner at -300px 140px , #065e28 55%, rgba(0, 0, 0, 0) 0%, white 0%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card {
  background-color: white;
  width: 90%;
  max-width: 600px;
  margin: 15% auto;
  padding: 20px;
  border-radius: 19px;
  text-align: center;
  align-items: center;
  position: absolute;
  right: 200px;
  top: 150px;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
    margin: 15% auto;
    right: 0;
    left: 0;
    top: 0;
  }
}




.example-form {
  min-width: 150px;
  width: 50%;
}

.example-full-width {
  width: 100%;
}

.h1-tittle {
  font-family: verdana;
  color: white;
  font-size: 3vw;
  position: static;
  margin-top: 15%;
  margin-left: 10%;
  background-color: transparent;
  position: absolute;
}

.div-tittle {
  position: static;
  margin-top: 10%;
  margin-left: 10%;
  background-color: transparent;
}

.button-container {
  margin-top: 20px;
}
