<div class="container card mt-5 m-lg-5">
    <p-table [value]="listaBoletasAPI" [paginator]="true" [rows]="6" [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Mostrando del {first} al {last} de las {totalRecords} boletas">
        <ng-template pTemplate="header">
            <tr>
                <th>N° Boleta</th>
                <th>Fecha emisión</th>
                <th>Nombre cliente</th>
                <th>Medio pago</th>
                <th>Total</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-boleta>
            <tr>
                <td>{{ boleta.numero_boleta}}</td>
                <td>{{ boleta.fecha_emision | date: 'dd/MM/yyyy'}}</td> <!--pipe-->
                <td>{{boleta.cliente.nombre_cliente}}</td>
                <td>{{boleta.modo_pago}}</td>
                <td>${{ boleta.total}}</td>
                <td>{{ boleta.estado }}</td>
                <td>
                    <p-button (onClick)="generarBoletaPDF(boleta._id)" icon="pi pi-file-pdf"
                        styleClass="p-button-rounded p-button-secondary p-button-text p-button-raised "
                        class="button"></p-button>
                </td>
            </tr>

        </ng-template>

        <ng-template pTemplate="paginatorleft">
            <p-button type="button" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>
