<div class="container">
  <div class="text-center mt-0 mb-5">
    <h2 class="h1-title">Biopal</h2>
  </div>
</div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <form class="example-form" (submit)="login()">
          <div class="background p-4">
            <div class="card p-4">
              <h2 class="mb-4">Login</h2>
              <div class="mb-4">
                <mat-form-field class="example-full-width">
                  <input type="email" matInput placeholder="example@gmail.com" name="correo" [(ngModel)]="correo" required />
                  <mat-label for="correo">Correo electrónico</mat-label>
                </mat-form-field>
              </div>
              <div class="mb-4">
                <mat-form-field class="example-full-width">
                  <input type="password" matInput placeholder="Contraseña" name="contrasenia" [(ngModel)]="contrasenia" required />
                  <mat-label for="contrasenia">Contraseña</mat-label>
                </mat-form-field>
              </div>
              <button mat-raised-button color="primary" type="submit">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
