<div class="card separar margen">
  <p-table
      [value]="productos"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 25, 50]"
  >
      <ng-template pTemplate="header">
          <tr>
              <th>ID</th>
              <th>Codigo Barra</th>
              <th>Nombre Producto</th>
              <th>Precio Unitario</th>
              <th>Stock</th>
              <th>Unidad</th>
              <th>Acciones</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-producto>
          <tr>
              <td>{{ producto._id}}</td>
              <td>{{ producto.codigo_barra }}</td>
              <td>{{ producto.nombre_producto }}</td>
              <td>{{ producto.precio_unitario }}</td>
              <td>{{ producto.stock }}</td>
              <td>{{ producto.unidad }}</td>
              <td>
                <p-button (click)="eliminar(producto._id) " label="Eliminar" styleClass="p-button-raised p-button-text p-button-danger"></p-button>
              </td>


          </tr>

      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
</p-table>
</div>
