<div class="p-inputgroup mt-2">
    <input pInputText placeholder="Buscar por nombre" [(ngModel)]="nombreProductoFiltro" (input)="buscarProductos()">
    <span class="p-inputgroup-addon">
        <i class="pi pi-search" (click)="buscarProductos()"></i>
    </span>
  </div>


<div class="card container mt-2">
  <p-table
      [value]="nameProduct"
      [value]="listarProductos"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Mostrando del {first} al {last} de los {totalRecords} productos"
  >
      <ng-template pTemplate="header">
          <tr>
              <th>Codigo Barra</th>
              <th>Nombre Producto</th>
              <th>Precio Unitario</th>
              <th>Stock</th>
              <th>Unidad</th>
              <th>Acciones</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-producto >
          <tr>
              <td>{{ producto.codigo_barra }}</td>
              <td>{{ producto.nombre_producto }}</td>
              <td>${{ producto.precio_unitario }}</td>
              <td>{{ producto.stock }}</td>
              <td>{{ producto.unidad }}</td>
              <td>
                 <p-button (click)="eliminar(producto._id) " label="Eliminar" styleClass="p-button-raised p-button-text p-button-danger"></p-button>
            </td>
            

          </tr>

      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <p-button  styleClass="p-button-text"></p-button>
    </ng-template>
</p-table>
</div>
