<div class="container mt-5 text-center">
  <p-card class="m-lg-5" header="Ingresar Usuario:">
    <form (submit)="ingresar()" class="row">

      <div class="col-md-6">
        <div class="form-group mt-3">
          <label htmlFor="rut">Rut</label>
          <span class="p-float-label">
            <input pattern="[0-9]{8}-[0-9kK]{1}" placeholder="10111000-1" pInputText id="rut_usuario" [(ngModel)]="rut_usuario" [ngModelOptions]="{standalone: true}"required />
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mt-3">
          <label htmlFor="nombre_usuario">Nombre del Usuario</label>
          <span class="p-float-label">
            <input pInputText id="nombre_usuario" [(ngModel)]="nombre_usuario" [ngModelOptions]="{standalone: true}" required/>
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mt-3">
          <label htmlFor="apellido">Apellido</label>
          <span class="p-float-label">
            <input pInputText id="apellido" [(ngModel)]="apellido" [ngModelOptions]="{standalone: true}" required/>
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mt-3">
          <label htmlFor="fono">Contacto</label>
          <span class="p-float-label">
            <input pInputText id="fono" placeholder="+56911111111" pattern="^\+\d{11}$"  [(ngModel)]="fono" [ngModelOptions]="{standalone: true}" required/>
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mt-3">
          <label htmlFor="contrasenia">Password</label>
          <span class="p-float-label">
            <input pInputText id="contrasenia"[(ngModel)]="contrasenia" [ngModelOptions]="{standalone: true}" required/>
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mt-3">
          <label htmlFor="correo">Correo</label>
          <span class="p-float-label">
            <input pInputText id="correo" placeholder="example@gmail.com" [(ngModel)]="correo" [ngModelOptions]="{standalone: true}" required/>
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mt-3">
          <label htmlFor="rol">Roles:</label>
          <span class="p-float-label">
            <p-dropdown [style]="{'width': '43%'}" id="rol" [options]="roles" [(ngModel)]="selectedRol" optionLabel="rol" [ngModelOptions]="{standalone: true}"></p-dropdown>
          </span>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group mt-3">
          <p-button type="submit" label="Ingresar"></p-button>
        </div>
      </div>

    </form>
  </p-card>
</div>
