

<div class="container mt-5 text-center">
  <p-card class="m-lg-5" header="Ingresar Cliente:">
    <form (submit)="guardar()" class="row">

      <div class="col-md-6">
        <div class="form-group mt-3">
          <label htmlFor="Rut">Rut</label>
          <span class="p-float-label">
            <input  pattern="[0-9]{8}-[0-9kK]{1}" pInputText id="rut" placeholder="10111000-1" [(ngModel)]="rut"  [ngModelOptions]="{standalone: true} "required/>
          </span>
        </div>
      </div>


      <div class="col-md-6">
        <div class="form-group mt-3">
          <label htmlFor="nombre_cliente">Nombre del cliente</label>
          <span class="p-float-label">
            <input pInputText id="nombre_cliente" placeholder="Nombre Apellido" [(ngModel)]="nombre_cliente" [ngModelOptions]="{standalone: true}"required/>
          </span>
        </div>
      </div>


      <div class="col-md-6">
        <div class="form-group mt-3">
          <label htmlFor="contacto">Teléfono</label>
          <span class="p-float-label">
            <input pattern="^\+\d{11}$"  placeholder="+569xxxxxxxx" pInputText id="contacto" [(ngModel)]="contacto" [ngModelOptions]="{standalone: true}"required/>
          </span>
        </div>
      </div>


      <div class="col-md-6">
        <div class="form-group mt-3">
          <label htmlFor="email">Email</label>
          <span class="p-float-label">
            <input pInputText id="email" placeholder="example@gmail.com" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"required/>
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mt-3">
          <label htmlFor="giroemis">Giro</label>
          <span class="p-float-label">
            <input pInputText id="giroemis" placeholder="Mayorista de frutas" [(ngModel)]="giroemis" [ngModelOptions]="{standalone: true}"required/>
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mt-3">
          <label htmlFor="direccion">Dirección</label>
          <span class="p-float-label">
            <input pInputText id="direccion" placeholder="Los carrera #999" [(ngModel)]="direccion" [ngModelOptions]="{standalone: true}"required/>
          </span>
        </div>
      </div>


     <div class="col-md-6">
        <div class="form-group mt-3">
          <label for="comuna">Comuna:</label>
          <span class="p-float-label">
            <p-dropdown [style]="{'width': '43%'}" id="comuna" [options]="comunas" [(ngModel)]="selectedComuna" optionLabel="comuna"  [ngModelOptions]="{standalone: true}"></p-dropdown>
          </span>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group mt-3">
          <p-button type="submit" label="Ingresar"></p-button>
        </div>
      </div>

    </form>
  </p-card>
</div>
