<form  (submit)="productoInsert()">
<div class="card flex justify-content-center mat-card">

<div>
      <div class="p-card-title" class="input-cliente" style="font-size: 16px;">Cliente:</div>
      <p-dropdown class="card-cliente" placeholder="Seleccione" (onChange)="cargarCliente()" [options]="clientesListar"  [(ngModel)]="clienteSelect" optionLabel="nombre_cliente" [ngModelOptions]="{standalone: true}" ></p-dropdown>
</div>


<div>
      <div  class="p-card-title div-cod" style="font-size: 16px;">Código de barra:</div>
      <span class="p-float-label codBarra">
          <input  pattern="[0-9]+" pInputText id="producto" [(ngModel)]="codigo_barra" [ngModelOptions]="{standalone: true}"/>
          <label  htmlFor="producto">Agregar producto</label>
      </span>
</div>

<div>
  <label class="mb-2 block font-bold label-number" style="font-size: 16px;" for="stacked">Cantidad producto:</label>
  <p-inputNumber class="input-number" [showButtons]="true" inputId="stacked" [(ngModel)]="cantidad_producto" [ngModelOptions]="{standalone: true}"> </p-inputNumber>
</div>
<!-- Boton realizar pedido-->
<div class="card flex justify-content-center button-submit2">
  <p-button (onClick)="realizarPedido()" label="Realizar Pedido" [disabled]="false"></p-button>
</div>
<!-- Boton realizar agregar producto-->
<div class="card flex justify-content-center button-submit">
  <p-button type="submit" label="Agregar Producto" [disabled]="false"></p-button>
</div>

<div class="card table">
    <p-table
        [value]="listaTabla"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem', 'min-height': '25rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 15]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre Producto</th>
                <th>Precio Unitario</th>
                <th>Unidad</th>
                <th>Cantidad</th>
                <th>Sub Total</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-producto>
            <tr>
              <td>{{producto.nombre_producto}}</td>
              <td>{{ producto.precio_unitario }}</td>
              <td>{{ producto.unidad }}</td>
              <td>{{ producto.cantidad }}</td>
              <td>{{producto.subtotal}}</td>
            </tr>

  </ng-template>
        <ng-template pTemplate="paginatorleft">
          <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
          <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>

  </p-table>
  </div>
</div>

</form>
