<div class="m-lg-5 mt-5">
  <p-card>
    <div  class="mb-2">

       <mat-icon>search</mat-icon>
      <p-calendar  [(ngModel)]="startDate" dateFormat="mm/yy" view="month" [maxDate]="maxDate"></p-calendar>
      <button pButton type="button" label="Buscar" class="p-button-rounded" (click)="buscarPedidosPorMesYAnio()"></button>
    </div>
   <p-table
      [value]="pedidosListar"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  >
      <ng-template pTemplate="header">
          <tr>
              <th>ID</th>
              <th>Vendedor</th>
              <th>Nombre Cliente</th>
              <th>Numero Pedido</th>
              <th>Fecha Pedido</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pedido>
          <tr>
              <td>{{ pedido._id}}</td>
              <td>{{pedido.usuario[0].nombre_usuario}}</td>
              <td>{{pedido.cliente[0].nombre_cliente}}</td>
              <td>{{ pedido.numero_pedido}}</td>
              <td>{{ pedido.fecha | date: 'dd/MM/yyyy'}}</td> <!--pipe-->
          </tr>

      </ng-template>

      <ng-template pTemplate="paginatorleft">
          <p-button  styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
          <p-button  styleClass="p-button-text"></p-button>
      </ng-template>
  </p-table>
</p-card>
</div>

