
<div class="p-d-flex p-ai-center mb-3 mt-4 container">
    <div class="row align-items-center">
    <div class="col col-4 ">
      <label for="fechaInicio" style="font-size: 16px; margin-left: 10px; color: black;">Fecha Inicio:</label>
    <p-calendar class="ms-1" id="fechaInicio" [(ngModel)]="fechaInicio"></p-calendar>
    </div>
    <div class="col col-4 ">
    <label  class="ms-2" for="fechaFin" class="p-ml-3" style="font-size: 16px; margin-left: 10px; color: black;">Fecha Fin:</label>
    <p-calendar class="ms-1" id="fechaFin" [(ngModel)]="fechaFin"></p-calendar>
    </div>
    <div class="col col-4  ms-0">
    <button class="ms-2 mb-1" pButton type="button" label="Buscar" (click)="buscarPorFecha()"></button>
    <button class="ms-2 mb-1 mt-1" pButton type="button" label="Limpiar" (click)="reestablecerFiltro()"></button>
    <div>
    </div>
  </div>

<div class="container card">
   <p-table
      [value]="pedidosListar"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Mostrando del {first} al {last} de los {totalRecords} pedidos"
  >
      <ng-template pTemplate="header">
          <tr>

              <th>Número Pedido</th>
              <th>Fecha Pedido</th>
              <th>Vendedor</th>
              <th>Cliente</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pedido>
          <tr>

              <td>{{ pedido.numero_pedido}}</td>
              <td>{{ pedido.fecha | date: 'dd/MM/yyyy'}}</td>
              <td>{{pedido.usuario[0].nombre_usuario}}</td>
              <td>{{pedido.cliente[0].nombre_cliente}}</td>
          </tr>

      </ng-template>

      <ng-template pTemplate="paginatorleft">
          <p-button  styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
          <p-button  styleClass="p-button-text"></p-button>
      </ng-template>
  </p-table>
</div>

