
.example-spacer {
  flex: 1 1 auto;

}

.mat-sidenav-container
{
  height: calc(100vh - 65px);
  background-color: aliceblue;

}


.mat-toolbar
{
background: #065e28;
color: white;
background-size: 100%100%100%;
}

.mat-sidenav{
 margin: 16px;
 width: 200px;
 border-right: none;
 background-color:#065e28;
 color: white;
 border-radius: 10px;
 padding: 16px;
 text-align: center;
}

.avatar
{
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.name{
  margin-top: 8px;
  font-weight: normal;

}

.designation{
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgray;

}

.menu-button{
width: 100%;
display: flex;
align-items: center;
justify-content: flex-start;
font-size: 1rem;
}
.mat-icon, span, a {
  margin-right: 8px;
  color:white;
  }


.logout{
  bottom: 0;
  align-items: flex-end;

}
.mat-icon, span, a {
  margin-right: 8px;
  color:white;
  }
.content{
  height: calc(96.5vh - 65px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  font-size: 2rem;
  color: lightgray;
  justify-content: center;

}

.mat-divider{
margin-top: 16px;
margin-bottom: 16px;
background-color: white;
}

.mat-expansion-panel {
  background-color: transparent !important;
}

.mat-expansion-panel-header {
  background-color: transparent !important;
  color: white !important;
}

.mat-expansion-panel-header.mat-expanded {
  background-color: transparent !important;
}

.mat-expansion-panel-header.mat-expanded:hover {
  background-color: transparent !important;
}
.div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando el espacio es insuficiente */
  text-align: center; /* Centra el contenido de texto dentro de los elementos */
}

/* Ejemplo de un elemento dentro del div */
.div-element {
  flex: 0 0 50%; /* Ocupa el 50% del ancho del contenedor, se puede ajustar según sea necesario */
  max-width: 100%; /* Limita el ancho máximo para asegurar que se ajuste en pantallas más pequeñas */
}

.a {
  font-size: 5px;
}



