<div class="container mt-5 text-center">
  <p-card class="m-lg-5" header=" Ingresar Producto:">
    <form (submit)="guardar()" class="row">

      <div class="col-md-6">
        <div class="form-group mt-3">
          <label htmlFor="codigo_barras">Código de barras</label>
          <span class="p-float-label">
            <input pattern="[0-9]+" pInputText id="codigo_barras" [(ngModel)]="codigo_barra" [ngModelOptions]="{standalone: true}" required />
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mt-3">
          <label htmlFor="nombre_producto">Nombre del producto</label>
          <span class="p-float-label">
            <input pInputText id="nombre_producto" [(ngModel)]="nombre_producto" [ngModelOptions]="{standalone: true}" required />
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mt-3">
          <label htmlFor="precio_unitario">Precio Unitario</label>
          <span class="p-float-label">
            <input pInputText id="precio_unitario" [(ngModel)]="precio_unitario" [ngModelOptions]="{standalone: true}"required  />
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mt-3">
          <label htmlFor="stock">Cantidad:</label>
          <span class="p-float-label">
            <input pInputText id="stock" [(ngModel)]="stock" [ngModelOptions]="{standalone: true}"required  />
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mt-3">
          <label htmlFor="unidad">Unidad de medida:</label>
          <span class="p-float-label">
            <p-dropdown [style]="{'width': '35%'}" id="unidad" [options]="unidades" [(ngModel)]="selectedUnidad" optionLabel="unidad" [ngModelOptions]="{standalone: true}"></p-dropdown>
          </span>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group mt-3">
          <p-button type="submit" label="Ingresar"></p-button>
        </div>
      </div>

    </form>
  </p-card>
</div>
