<div class="centrar separar">
    <p-card header="Ingresar Producto">
        <form (submit)="guardar()">
            <div class="card flex justify-content-center separar">
                <span class="p-float-label">
                    <input  pattern="[0-9]+" pInputText id="codigo_barras" [(ngModel)]="codigo_barra" [ngModelOptions]="{standalone: true}"/>
                    <label htmlFor="codigo_barras">Código de barras</label>
                </span>
            </div>
            <div class="card flex justify-content-center separar">
                <span class="p-float-label">
                    <input pInputText id="nombre_producto" [(ngModel)]="nombre_producto" [ngModelOptions]="{standalone: true}"/>
                    <label htmlFor="nombre_producto">Nombre del producto</label>
                </span>
            </div>
            <div class="card flex justify-content-center separar">
                <span class="p-float-label">
                    <input pInputText id="precio_unitario" [(ngModel)]="precio_unitario" [ngModelOptions]="{standalone: true}"/>
                    <label htmlFor="precio_unitario">Precio Unitario</label>
                </span>
            </div>
            <div class="card flex justify-content-center separar">
                <span class="p-float-label">
                    <input pInputText id="stock" [(ngModel)]="stock" [ngModelOptions]="{standalone: true}"/>
                    <label htmlFor="stock">Cantidad</label>
                </span>
            </div>
            <div class="card flex justify-content-center separar">
                <div class="div-unidad">
                    <label for="unidad">Unidad de medida:</label>
                </div>
                <p-dropdown [style]="{'width': '100%'}" id="unidad" [options]="unidades" [(ngModel)]="selectedUnidad" optionLabel="unidad" [ngModelOptions]="{standalone: true}"></p-dropdown>
            </div>
            <div class="card flex justify-content-center separar">
                <p-button type="submit" label="Guardar"></p-button>
            </div>
        </form>
    </p-card>
</div>
